framework: netstandard2.0, net471, netcoreapp2.0
source https://api.nuget.org/v3/index.json

nuget FSharp.Core >= 4.7.0 lowest_matching: true
                                            
nuget Aardvark.Base.Tensors >= 5.1.8
                                            
group Build
framework: netstandard2.0
source https://api.nuget.org/v3/index.json
github aardvark-platform/aardvark.fake:v5